  html, body {
    background-color: #eee;
  }
  body {
    padding-top:40px;
  }
  
  .container {
    max-width: 820px; 
  }
  .wide-container {
    max-width: 940px;
  }
  .navbar-inner .container {
    padding-left:15px
  }
  /* The white background content wrapper */
  .container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -10px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
  /* Override whitespace for pre from bootstrap so it won't break SPARQL flint editor */
  pre{
    white-space:pre;
    word-break:normal;
    word-spacing:0px;
    word-wrap:normal;
  }
  .pre {
    white-space:pre-wrap;
    word-break:break-all;
  }
  /* Page header tweaks */
  .main-page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
  }
  #flint-coolbar #flint-dataset-select {
      width:100px;
  }
  #flint-title, #flint-editor #flint-toolbar {
     display:none;
  }
 #flint-editor h2 {
     padding-top:0;
     padding-bottom:0;
 }
 #flint-editor input.flint-submit-button {
    margin-top:4px;
    margin-right:4px;
    padding:4px;
 }
  /* Give a quick and non-cross-browser friendly divider */
  .content .sidebarmenu {
    margin-left: 5px;
    padding-left: 19px;
    border-left: 1px solid #eee;
  }
  section {
    margin-bottom:30px;
  }
  footer {
  margin-top:5px;
  }
  .xlarge {
      margin-top:10px;
  }
  [class^="icon-"],[class*=" icon-"]{background-image:url("../images/glyphicons-halflings.png");}
  .icon-white{background-image:url("../images/glyphicons-halflings-white.png");}
  
  .Imageicon {background-image: url(../images/icons/image.png);}
  .StillImageicon {background-image: url(../images/icons/image.png);}
  .MovingImageicon{background-image: url(../images/icons/film.png);}
  .Filmicon {background-image: url(../images/icons/film.png);}
  .pdficon {background-image: url(../images/icons/file_acrobat.gif);}
  .Soundicon {background-image: url(../images/icons/page_sound.gif);}
  .Dataseticon {background-image: url(../images/icons/database_table.png);}
  .Collectionicon {background-image: url(../images/icons/page_white_stack.png);}
  .Texticon{background-image: url(../images/icons/page_white_text.png);}
  .PhysicalObjecticon {background-image: url(../images/icons/chair.png);}
  .Softwareicon {background-image: url(../images/icons/application.png);}
  .Serviceicon {background-image: url(../images/icons/server-network.png);}
  .InteractiveResourceicon {background-image: url(../images/icons/map_cursor.png);}
  .Eventicon {background-image: url(../images/icons/alarm-clock-select.png);}
  .prop {font-weight:bold;color:#51666b;}

/* Validation report */
  #data {
      border:1px solid #eee;
  }
  .pass {color:#468847;}
  .error {color:#b94a48;}
  .warn {color:#c09853;}
  .skip {color:#999999;}
  .icon-pass:before{content:"\f058"}
  .icon-error:before{content:"\f057"}
  .icon-warn:before{content:"\f071"}
  .icon-skip:before{content:"\f056"}